{% extends "base.html" %}
{% block title %}Clusters{% endblock %}
{% block content %}
<h1 class="title">Clusters</h1>
<table class="table is-stripped">
    <tr>
        <th>Name</th>
        <th>API URL</th>
        <th>Labels</th>
    </tr>
    {% for cluster in clusters: %}
    <tr>
        <td><a href="/clusters/{{ cluster.name }}">{{ cluster.name }}</a></td>
        <td>{{ cluster.api.url }}</td>
        <td>
            {% for key, val in cluster.labels.items()|sort: %}
            <a href="/clusters?selector={{ key }}={{ val }}"><span class="tag is-link">{{ key }}: {{ val }}</span></a>
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
